<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
    <title>Estacion Meteorologica</title>
</head>


<body>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="../static/js/index.js"></script>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center"">
            <h1>Valores de muestreo</h1>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-2 offset-md-2">
                <h4>Temperatura</h4>
            </div>
            <div class="col-md-2">
                <h4>Humedad</h4>
            </div>
            <div class="col-md-2">
                <h4>Presion Atm</h4>
            </div>
            <div class="col-md-2">
                <h4>Velocidad Viento</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-2">
                <h4 class="text-success" id="temperatureText">50C</h4>
            </div>
            <div class="col-md-2">
                <h4 class="text-success" id="humidityText">100%</h4>
            </div>
            <div class="col-md-2">
                <h4 class="text-success" id="pressureText">1050 Hpa</h4>
            </div>
            <div class="col-md-2">
                <h4 class="text-success" id="windspText">14 Km/h</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <hr/>
            </div>
        </div>
        <div class="row">
        <div class="col-md-2 offset-md-4">
            <h2>Periodo de Muestreo: </h2>
        </div>
            <form>
                <div class="form-group">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>5</option>
                    <option>10</option>
                    <option>30</option>
                    <option>60</option>
                  </select>
                </div>
                <input type="submit" value="Establecer">
            </form>

        </div>

    </div>

</body>

</html>